---
outlet: |
  <p>The National Council of State Boards of Nursing (NCSBN) is a not-for-profit
  organization whose purpose is to provide an organization through which boards
  of nursing act and counsel together on matters of common interest and concern
  affecting the public health, safety and welfare, including the development of
  licensing examinations in nursing. <a href="#">What is a board of nursing?</a></p>
---

<div class="intro-text">
  {{{ outlet }}}
</div>
