<ul class="list_bulleted level-1">
  <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit. Lorem ipsum dulor sit amet, consectetuer adipiscing elit. Lorem ipsum dulor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.
  <ul class="list_bulleted level-2">
    <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit.
    <ul class="list_bulleted level-3">
      <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit.</li>
    </ul>
    </li>
  </ul>
  </li>
  <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit.</li>
  <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit.</li>
  <li>Lorem ipsum dulor sit amet, consectetuer adipiscing elit.</li>
</ul>
